<!DOCTYPE html>
<html>
    <head>
        <title>{{ shopping_list.name }}</title>
    </head>
    <body>
        <h1>{{ shopping_list.name }}</h1>
        <p>Family: {{ shopping_list.group.name }}</p>
        <p>Left balance: {{ shopping_list.balance }}</p>
        {% if has_items %}
        <p>
            Your added items:
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Additional information</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
                {% for item in items %}
                <tr>
                    <th>{{ item.item_blueprint.name }}</th>
                    <th>{{ item.item_blueprint.description }}</th>
                    <th>{{ item.additional_info }}</th>
                    <th>{{ item.price }}</th>
                    <th><a href="/remove_item?item_id={{ item.id }}&list_id={{ shopping_list.id }}">remove</a></th>
                </tr>
                {% endfor %}
            </table>
        </p>
        {% else %}
        <p>You haven't added itmes to the shopping list yet!</p>
        {% endif %}
        <p><a href="/item_form?list_id={{ shopping_list.id }}">Add an item</a></p>
        <p><a href="/">Back</a></p>
        <script>
            {% if has_massage %}
            alert("{{ msg }}");
            {% endif %}
        </script>
    </body>
</html>