{% extends 'base.html' %}

{% block content %}
<h2>Budgets for group {{ group_name }}:</h2>
<form action="{{ url_for('add_budget') }}" method="POST">
    <input type="hidden" name="group_id" value="{{ group_id }}">
    <div class="form-group">
        <label for="budget_name">Budget name</label>
        <input type="text" name="budget_name" id="budget_name" class="form-control" placeholder="budget name" required>
    </div>
    <div class="form-group">
        <label for="total_budget">Total budget</label>
        <input type="number" name="total_budget" id="total_budget" class="form-control" placeholder="total budget" min="0" required>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Add budget</button>
</form>

<h3 class="mt-4">All budgets:</h3>
<ul class="list-group">
    {% for budget in budgets %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ url_for('view_expenses', budget_id=budget['budget_id']) }}">{{ budget['budget_name'] }}</a>
        {{ budget['budget_name'] }} - {{ budget['total_budget'] }} UAH
        <div>
            <a href="{{ url_for('update_budget', budget_id=budget['budget_id']) }}" class="btn btn-warning btn-sm">Update</a>
            <a href="{{ url_for('delete_budget', budget_id=budget['budget_id']) }}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </li>
    <br/>
    {% endfor %}
</ul>
{% endblock %}
