{% extends 'base.html' %}

{% block content %}
<h2>All expenses for budget: {{ budget["budget_name"] }}</h2>
<hr/>

<h5>Total Budget: {{ budget["total_budget"] }} UAH</h5>
<h5>Spent this month: {{ spent_this_month }} UAH</h5>
<h5>Remaining: {{ budget["total_budget"] - spent_this_month }} UAH</h5>

<hr/>
<form action="{{ url_for('add_expense', budget_id=budget['budget_id']) }}" method="POST">
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" placeholder="Expense description" required>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" name="price" class="form-control" placeholder="Price" min="0" required>
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" name="amount" class="form-control" placeholder="Amount" min="1">
    </div>
    <div class="form-group">
        <label for="expense_type">Expense type</label>
        <select name="expense_type" class="form-control" required>
            <option value="current">Current</option>
            <option value="planned">Planned</option>
        </select>
    </div>
    <div class="form-group">
        <label for="category_id">Category</label>
        <select name="category_id" class="form-control" required>
            {% for category in categories %}
            <option value="{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Add expense</button>
</form>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Current Expenses:</h3>
        <ul class="list-group">
            {% for expense in expenses if expense['expense_type'] == 'current' %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ expense['created_date'].strftime('%B %d, %Y') }} - {{ expense['description'] }} - {{ expense['price'] }} UAH
                {% if expense['amount'] is not none %}
                    * {{ expense['amount'] }} (amount)
                {% endif %}
                <div>
                    <a href="{{ url_for('update_expense', expense_id=expense['expense_id']) }}" class="btn btn-warning btn-sm">Update</a>
                    <a href="{{ url_for('delete_expense', expense_id=expense['expense_id'], budget_id=budget['budget_id']) }}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </li>
            <br/>
            {% else %}
            <li class="list-group-item">No current expenses found.</li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-md-6">
        <h3>Planned Expenses:</h3>
        <ul class="list-group">
            {% for expense in expenses if expense['expense_type'] == 'planned' %}
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-warning">
                {{ expense['created_date'].strftime('%B %d, %Y') }} - {{ expense['description'] }} - {{ expense['price'] }} UAH
                {% if expense['amount'] is not none %}
                    * {{ expense['amount'] }} (amount)
                {% endif %}
                <div>
                    <a href="{{ url_for('update_expense', expense_id=expense['expense_id']) }}" class="btn btn-warning btn-sm">Update</a>
                    <a href="{{ url_for('delete_expense', expense_id=expense['expense_id'], budget_id=budget['budget_id']) }}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </li>
            <br/>
            {% else %}
            <li class="list-group-item">No planned expenses found.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
