{% extends 'base.html' %}

{% block content %}
<h2>Edit budget</h2>
<form action="{{ url_for('update_budget', budget_id=budget['budget_id']) }}" method="POST">
    <div class="form-group">
        <label for="budget_name">Budget name</label>
        <input type="text" name="budget_name" id="budget_name" class="form-control" value="{{ budget['budget_name'] }}" required>
    </div>
    <div class="form-group">
        <label for="total_budget">Total budget</label>
        <input type="number" name="total_budget" id="total_budget" class="form-control" value="{{ budget['total_budget'] }}" min="0" required>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Update budget</button>
</form>

<a href="{{ url_for('all_budgets') }}" class="btn btn-secondary mt-4">Back</a>
{% endblock %}
